[run]
source = genomic-region-identification

[report]
# Specify which regex patterns to ignore when calculating coverage.
exclude_lines = 

    # Standard method of skipping a line of code.
    pragma: no cover

    # Exclude debug-only code.
    def __repr__
    if self\.debug

    # Don't complain if the test come across defenseve assertion code.
    raise AssertionError
    raise NotImplimentedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__== .__main__.:
